<p id="notice"><%= notice %></p>

<h2>Lists</h2>

<% if @lists.any? %>
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <% @lists.each do |list| %>
          <li class="list-group-item">
            <span class="badge"><%= list.tasks.count %></span>
            <%= link_to list.title, list %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <h3>There are no lists to show yet</h3>
<% end %>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :title, required: true %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
